<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Small AC/DC Motors &amp; Gear Motors | DYD MOTOR</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords" content="DYD MOTOR, DONGZHENG MOTOR - DC gear motors, AC gear motors, Planetary gear motors, Parallel shaft gearmotors, Right angle gear motors, Spur Gear Motors, Worm Gear Motors, In-line Gear Motors, DC motors, gearmotors, geared motors">
  <meta name="description" content="DYD MOTOR, DONGZHENG MOTOR - DC Geared motor, DC Brush Motor, 4 Pole PM DC Motor, DC Planetary Gear Motor, Worm gear motor, Right angle gear motor, Spur gear motor, Parallel shaft gearmotor, AC Induction & Reversible Motor, AC Induction Gearmotor, Brushless DC Motor, Automatic Gate/Door Motor, Truck Tarp Motor, Solar Tracking Motor, Swimming Pool Cleaner Motors, Pool Cover Motor, Permanent Magnet, Motor Housing, Motor Shaft.">
  <link rel="icon" type="image/x-icon" href="__STATIC__/img/favicon.png">
  <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
  <link rel="stylesheet" href="__STATIC__/css/swiper.min.css">
  <link rel="stylesheet" href="__STATIC__/css/animate.min.css">
  <link rel="stylesheet" href="__STATIC__/css/public.css">
  <link rel="stylesheet" href="__STATIC__/css/font-awesome.min.css">
  <link rel="stylesheet" href="__STATIC__/css/style.css">
</head>

<body>
  {include file="public/header"}
  <section>
    <div class="banner-bg">
      <img src="__STATIC__/img/a70c69912795185b93f9a5a48caba37a.jpg" alt="">
      <div class="banner-inner">
        <h1 class="h-title wow fadeInDown" data-wow-delay="0.3s" style="visibility: hidden;"><span>NEWS</span></h1>
      </div>
    </div>
    <div class="container container-bg container-box wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden;">
      <div class="row">
        <div class="col-xs-12">
          <div class="article-content">
            <div class="news-view">
              <div class="title">
                <h1>{$row.nTitle}</h1>
                <div class="detail">
                  <span class="txt">{$row.nTime}</span>
                </div>
              </div>
              <div class="con">{$row.nInfo}</div>
            </div>
          </div>
        </div>
      </div>
  </section>
  {include file="public/footer"}
  {include file="public/gotopbtn"}

  <script src="__STATIC__/js/jquery.min.js"></script>
  <script src="__STATIC__/js/bootstrap.min.js"></script>
  <script src="__STATIC__/js/swiper.min.js"></script>
  <script src="__STATIC__/js/wow.min.js"></script>
  <script src="__STATIC__/js/i18n/jquery.i18n.properties.js"></script>
  <script src="__STATIC__/js/i18n/language.js"></script>
  <script src="__STATIC__/js/main.js"></script>
  <!--[if lt IE 9]>
    <script src="__STATIC__/js/html5shiv.min.js"></script>
    <script src="__STATIC__/js/respond.min.js"></script>
  <![endif]-->
</body>

</html>