<footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-menu">
              <h4 class="i18n" name="about"></h4>
              <ul>
                <li>
                  <a href="javascript:;" class="i18n" name="profile"></a>
                </li>
                <li>
                  <a href="javascript:;" class="i18n" name="history"></a>
                </li>
                <li>
                  <a href="javascript:;" class="i18n" name="video"></a>
                </li>
                <li>
                  <a href="javascript:;" class="i18n" name="honor"></a>
                </li>
                <li>
                  <a href="javascript:;" class="i18n" name="qualifications"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-menu">
              <h4 class="i18n" name="news"></h4>
              <ul>
                <li>
                  <a href="javascript:;" class="i18n" name="cnews"></a>
                </li>
                <li>
                  <a href="javascript:;" class="i18n" name="focus"></a>
                </li>
                <li>
                  <a href="javascript:;" class="i18n" name="inews"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-menu">
              <h4 class="i18n" name="resource"></h4>
              <ul>
                <li>
                  <a href="javascript:;" class="i18n" name="talent"></a>
                </li>
                <li>
                  <a href="javascript:;" class="i18n" name="contact"></a>
                </li>
                <li>
                  <a href="javascript:;" class="i18n" name="download"></a>
                </li>
                <li>
                  <a href="javascript:;" class="i18n" name="industrials"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-menu-2">
              <h4 class="i18n" name="follow"></h4>
              <ul>
                <li>
                  <a href="javascript:;">
                    <i class="fa fa-facebook"></i>
                    <span class="i18n" name="facebook"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="fa fa-twitter"></i>
                    <span class="i18n" name="twitter"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="fa fa-google-plus"></i>
                    <span class="i18n" name="google"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="fa fa-weibo"></i>
                    <span class="i18n" name="weibo"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" class="wechat-popover" data-container="body" data-toggle="popover" data-content="<div class='share'><img width='128' height='128' src='__STATIC__/img/qrcode.png'></div>">
                    <i class="fa fa-wechat"></i>
                    <span class="i18n" name="wechat"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">Copyright &copy; 2019<strong><a href="/index.html" class="i18n" name="copy"></a></strong> ICP NO.123456</p>
      </div>
    </div>
  </footer>
