<header>
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-4 column">
            <div class="logo pull-left">
              <a class="" href="/">
                <img class="logo" src="__STATIC__/img/logo.png" alt="">
              </a>
            </div>
            <div class="navbar-menu pull-right">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="icon-bar icon-top"></span>
                <span class="icon-bar icon-middle"></span>
                <span class="icon-bar icon-bottom"></span>
              </button>
            </div>
          </div>
          <div class="col-md-6 col-sm-8 hidden-xs">
            <div class="btn-group">
              <form class="navbar-form navbar-left" role="search" method="post" target="_blank" action="/product/search" >
                <div class="input-group">
                  <input type="text" class="form-control i18n-input" name="s" placeholder="Search product..." selectname="searchPlaceholder" selectattr="placeholder">
                  <span class="input-group-btn">
                    <button type="submit" class="btn-search" value="search">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
              <button type="button" class="btn btn-default lg-btn dropdown-toggle i18n" name="lngbtn" data-toggle="dropdown"></button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="javascript:void(0)" class="i18n" name="lngmenu"></a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="javascript:void(0)">Another LNG</a>
                </li>
                <li class="caretbd"></li>
                <li class="caretbg"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <nav class="navbar">
        <div class="container">
          <div class="row">
            <div class="collapse navbar-collapse nav-cur" id="example-navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="visible-xs-block">
                  <form class="navbar-form navbar-left navbar-sm-form" role="search" action="/product/search" method="post" target="_blank">
                    <div class="search-box">
                      <div class="input-group">
                        <input type="text" class="form-control i18n-input" placeholder="Search product..." selectname="searchPlaceholder" selectattr="placeholder">
                        <span class="input-group-btn">
                          <button type="submit" class="btn-search" name="s" value="search">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default lg-btn dropdown-toggle i18n" name="lngbtn" data-toggle="dropdown"></button>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a href="javascript:void(0)" class="i18n" name="lngmenu"></li>
                        <li class="divider"></li>
                        <li>
                          <a href="javascript:void(0)">Another LNG</a>
                        </li>
                      </ul>
                    </div>
                  </form>
                </li>
                <li>
                  <a href="/" class="i18n" name="home"></a>
                </li>
                <li>
                  <a href="/about" class="i18n" name="about"></a>
                </li>
                <li>
                  <a href="/product" class="i18n" name="product"></a>
                </li>
                <li>
                  <a href="/solutions" class="i18n" name="solutions"></a>
                </li>
                <li>
                  <a href="/facilities" class="i18n" name="facilities"></a>
                </li>
                <li>
                  <a href="/news" class="i18n" name="news"></a>
                </li>
                <li>
                  <a href="/jobs" class="i18n" name="jobs"></a>
                </li>
                <li>
                  <a href="/contact" class="i18n" name="contact"></a>
                </li>
                <li class="curBg hidden-xs"></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
